<?php
/**
 * Trakapo
 *
 * NOTICE OF LICENSE
 *
 * Copyright 2014 Livelink New Media
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category    Trakapo
 * @package     Trakapo_Basetracking
 * @copyright   Copyright (c) 2014 Livelink New Media (http://www.livelinknewmedia.com)
 * @license     http://www.apache.org/licenses/LICENSE-2.0 Apache License (ASL 2.0)
 * @author      John Sanderson <@9point6>
 */

if($this->isActive() && ($this->getSiteId() !== null)): ?>

    <script type="text/javascript"
            src="//t.trakapo.com/t/<?php echo $this->getSiteId() ?>.js">
    </script>

    <?php if ($this->isPendingEvents()): ?>
    <script type="text/javascript">
        (function(){
            doTrakapo = function () {
                track = function (name, data, hash){
                    window.trackvars = [name, data, hash];
                    try {
                        // Sanity checks - move these back into PHP
                        if (typeof window.Trakapo.viewInfo === 'undefined') {
                            window.Trakapo.viewInfo = {};
                        }

                        if (data.type === 'product' && data.url == window.location.href) {
                            data = {'action': data};
                            window.Trakapo.viewInfo.product = {
                                'data': data,
                                'hash': hash
                            };

                        } else if (name === 'basket' && data.bid !== '1-') {
                            window.Trakapo.viewInfo.basket = {
                                'data': data,
                                'hash': hash
                            };
                        } else {
                            Trakapo.track(name, data, hash);
                        }

                    }
                    catch (e) {
                        setTimeout(function () {
                            track(name, data, hash);
                        }, 1000);
                    }
                };
                <?php foreach ($this->getPendingEvents() as $event): ?>
                    track(<?php echo "{$event['name']}, {$event['data']}, {$event['hash']}" ?>);
                <?php endforeach; ?>
            };
            if(typeof Trakapo === 'undefined') {
                    document.observe('dom:loaded', doTrakapo);
            } else {
                    doTrakapo();
            }
        })();
    </script>
    <?php endif; ?>
<?php endif; ?>
