<?php
/**
 * Trakapo
 *
 * NOTICE OF LICENSE
 *
 * Copyright 2014 Livelink New Media
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category    Trakapo
 * @package     Trakapo_Basetracking
 * @copyright   Copyright (c) 2014 Livelink New Media (http://www.livelinknewmedia.com)
 * @license     http://www.apache.org/licenses/LICENSE-2.0 Apache License (ASL 2.0)
 * @author      John Sanderson <@9point6>
 */
?>
<script type="text/javascript">
	//<![CDATA[
	window._trakapo_vars = {
		'historicURL' : '<?php echo $this->getAjaxHistoricUrl(); ?>',
		'historicDoneURL' : '<?php echo $this->getAjaxHistoricDoneUrl(); ?>',
		'siteId': '<?php echo $this->getSiteId(); ?>'
	};

	function _trakapo_historic() {
		$('trakapo_basetracking_button')
			.disable()
			.addClassName('disabled');
		$('trakapo_historic_progress')
			.show()
			.value = 0;
		$('trakapo_historic_progresstext').show();

		// Prevent Navigation
		window.onbeforeunload = function() {
			return "If you navigate away from this page, the historic import will fail.";
		}

		var startTime = new Date;
		progressTick = function (progress, stats) {
			var remaining, remainingTime;

			remaining = new Date - startTime;
			remaining = ((100 * remaining / progress) - remaining) / 1000;
			remainingTime =
				('0' + (parseInt(remaining / 3600))).substr(-2) + ':' +
				('0' + (parseInt(remaining / 60) % 60)).substr(-2) + ':' +
				('0' + parseInt(remaining % 60)).substr(-2);

			$('trakapo_historic_progress').value = progress;
			$('trakapo_historic_progresstext_percentage').innerHTML = progress.toFixed(2) + '%';
			$('trakapo_historic_progresstext_remaining').innerHTML = remainingTime;
			$('trakapo_historic_progresstext_profiles').innerHTML =
				'Profiles: ' + stats.profiles;
			$('trakapo_historic_progresstext_sessions').innerHTML =
				'Sessions: ' + stats.sessions;
		}

		success = function () {
			$('trakapo_historic_progress').hide();
			$('trakapo_historic_progresstext').hide();
			$('trakapo_historic_warning').hide();
			$('trakapo_historic_success').show();

			new Ajax.Request(_trakapo_vars.historicDoneURL, {
				'method': 'get',
				'onSuccess': function (transport) {
					// remove navigation block
					window.onbeforeunload = null;
				}
			});
		};

		requestProfiles = function (start) {
			new Ajax.Request(_trakapo_vars.historicURL, {
				'method': 'get',
				'parameters': {
					'start': start,
					'count': 100
				},
				'onSuccess': function (transport) {
					try {
						data = JSON.parse(transport.responseText)
						profiles = data.data
					}
					catch (e) {
						alert('Bad server response');
					}

					if (data.total > (start + 100)) {
						setTimeout(function () {
							requestProfiles(start + 100);
						}, 5000 );
					}

					window._trakapo_import.historic(profiles, data.total, progressTick, success);
				}
			});
		}

		requestProfiles(0);
	}

	document.observe('dom:loaded', function() {
		if($('trakapo_basetracking_button').disabled) {
			$('trakapo_historic_warning').hide();
			$('trakapo_historic_already_done').show();
		}

		// Allow override of historic disable
		Event.observe(window, 'keydown', function (e) {
			if(e.ctrlKey && e.shiftKey && e.keyCode == 72) {
				$('trakapo_basetracking_button')
					.enable()
					.removeClassName('disabled')
					.removeClassName('disabled');
				$('trakapo_historic_already_done').innerHTML =
					'Force enabled historic import';
			}
		})
	})
	//]]>
</script>

<?php echo $this->getButtonHtml(); ?>
<div id="trakapo_historic_warning">
	<p>
		This will load in all of your customers' profiles and past orders into
		Trakapo. You should only use this once as multiple times may result in
		duplicate profiles. If you have a lot of data this will take a very long
		time.
	</p>
	<p>
		<strong>
			This browser window must remain open whilst the import is occurring.
		</strong>
	</p>
</div>
<div
	id="trakapo_historic_already_done"
	style="display: none;"
>
	<p>
		It appears that a successful historic import has already occurred. This
		feature is disabled to prevent duplicate data being imported.
	</p>
</div>
<progress
	id="trakapo_historic_progress"
	max="100"
	value="0"
	style="display: none; margin: 10px 0; width: 100%; height: 16px;"
></progress>
<div
	id="trakapo_historic_progresstext"
	style="display: none; margin-top: -10px;"
>
	<span
		id="trakapo_historic_progresstext_percentage"
		style="float: left;"
	>0%</span>
	<span
		id="trakapo_historic_progresstext_remaining"
		style="float: right;"
	>00:00:00</span>
	<br style="clear: both;" />
	<span
		id="trakapo_historic_progresstext_profiles"
		style="float: left;"
	>Profiles: 0</span>
	<span
		id="trakapo_historic_progresstext_sessions"
		style="float: right;"
	>Sessions: 0</span>
</div>
<div
	id="trakapo_historic_success"
	style="display: none;"
>
	Historic import successful!
</div>
